.count{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.count .count-list{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
}
.count h3, .count h2{
    margin-bottom: 0;
}
